.chat-stream{
    height: 66vh;

    background-color: cornflowerblue;
   
    display: flex;
    align-items: flex-end;

    overflow: hidden;
}
body{
    background-color: dimgray;
    border-block-color: black;
}
h2{
    background-color: cornflowerblue;
    
}